.leftContainer {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  min-width: 300px;
  width: 30%;
  height: 100%;
}

.rightContainer {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  min-width: 300px;
  width: 30%;
  height: 100%;
}

.topContainer {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  min-height: 300px;
  height: 30%;
}

.bottomContainer {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 100;
  width: 100%;
  min-height: 300px;
  height: 30%;
}
