.container {
  position: fixed;
  right: 0;
  top: 0;
  min-width: 300px;
  width: 30%;
  height: 100%;
  background-color: #333;
}

.button {
  padding: 0;
  width: 50px;
  border: 0;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  outline: 0;
  font-size: 40px;
  transition: color 200ms linear;
}

.button:hover {
  color: #2196f3;
}
