
.buttonGroup {
  align-items: center;
  color: white;
  padding: 2px 10px;
  cursor: pointer;
}

.buttonGroup:after {
  content: "";
  clear: both;
  display: table;
}

.datePicker {
  font-size: small;
  height: 28px;
  width: 120px;
  text-align: center;
}

.datePicker:hover {
  background-color: rgb(3, 99, 32);
  opacity: 1.0;
  color: white;
}

.zoomButton {
  font-size: small;
  text-align: center;
  height: 28px;
  background-color: rgb(3, 99, 32);
  color: white;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.zoomButton:hover {
  color: black;
  background-color: white;
}

.scrollButton {
  font-size: small;
  text-align: center;
  height: 28px;
  background-color: rgb(3, 99, 32);
  color: white;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.scrollButton:hover {
  color: black;
  background-color: white;
}
