.button {
  background: none;
  border: none;
  font-family: "Playfair Display SC";
  color: #f1f1f1;
  cursor: pointer;
  font-size: 4.5vh;
  /* transform: rotate(-90deg); */
  padding-bottom: 5vh;
}

.button:hover {
  color: #b5c2b9;
}
