.titleText {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Playfair Display SC";
  font-size: 3.5vh;
  text-decoration: underline;
}

.wholePanel {
  background: #9cb6a4;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  /* Within the column so left is top, center is middle */
  justify-content: left;
  align-items: left;
}

.buttonPanel {
  display: flex;
  justify-content: left;
  align-items: left;
  margin-top: 250%;
  height: 10%;
}

/* This makes the buttons look like text */
/* Based on https://stackoverflow.com/a/1368286 */
.button {
  background: none;
  border: none;
  font-family: "Playfair Display SC";
  color: #f1f1f1;
  cursor: pointer;
  font-size: 3vh;
  padding: 1vh 1vw 1vh 1.4vw;
  text-align: left;
}

.button:hover {
  color: #111;
}

.verticalSpaceTitle {
  margin-bottom: 20%;
}

.verticalSpace {
  margin-bottom: 45%;
}
