.container {
  position: absolute;
  background: white;
  font-family: "Playfair Display Medium";
  width: 75%;
  height: 75%;
  left: 12.5%;
  top: 12.5%;
  opacity: 1;
  background-color: white;
  z-index: 11;
  padding: 1.5vh 0.5vw 0.5vh 0.75vw;
  display: grid;
  grid-template-columns: 40% 10% 50%;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;

  font-size: 1.5vh;
  color: #222222;
}

.closeButton {
  position: absolute;
  right: 0.01vw;
}

.divider {
  background: linear-gradient(lightgrey, lightgrey) no-repeat center/1px 100%;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 6;
}

.textSection {
  padding-top: 2vh;
  padding-left: 2vh;
  width: 50%;
  height: 100%;
}

.header {
  font-size: 2vh;
  color: #003366;
  height: 10%;
}

.nameHeader {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  font-size: 3vh;
  color: #003366;
  height: 10%;
}

.positions {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
  font-size: 2vh;
  color: #003366;
  height: 10%;
}

.bio {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 6;
  font-size: 1.8vh;
  overflow: auto;
}

.sources {
  font-size: 2vh;
  color: #003366;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 6;
  grid-row-end: 6;
}

.imageSection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 6;
  font-style: italic;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.imageSection img {
  object-fit: contain;
  display: block;
  /* flex-shrink: 0;
  min-width: 100%;
  min-height: 100%; */
}

.imageDescription {
  padding-top: 2vh;
}
