.container {
  position: absolute;
  width: 98%;
  height: 98%;
  left: 1%;
  top: 1%;
  opacity: 1;
  background-color: black;
  z-index: 11;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 10px;
}

.closeButton {
  height: 100%;
  align-content: center;
  vertical-align: center;
  font-size: 16pt;
  color: white;
}

.image {
  max-height: 200px;
  max-width: 280px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: 10px;
}

.caption {
  font-size: 8pt;
  font-family: "Domine";
  max-width: 280px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2px;
  box-sizing: border-box;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  background-image: linear-gradient(to right, #D7B874, #998554);
  color: #000000;
}

@media (max-width: 280px) {
  .image {
    max-width: 95%;
  }

  .caption {
    max-width: 95%;
  }
}

.content {
  box-sizing: border-box;
  padding: 10px;
  align-content: stretch;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
  margin-bottom: 2px;
  max-width: 600px;
  border-radius: 10px;
}

.panel {}

.name {
  font-size: large;
  font-family: "Domine";
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  background-color: #E63309;
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
  margin-bottom: 2px;
  max-width: 600px;
  border-radius: 10px;
  font-weight: 900;
}

.bio_heading {
  font-family: "Domine";
  max-width: 600px;
  line-height: 1.5;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 14pt;
  font-weight: 900;
  text-align: center;
  background-color: #E63309;
  color: white;
  border-radius: 5px;
}

.source_heading {
  font-family: "Domine";
  max-width: 600px;
  line-height: 1.5;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 14pt;
  font-weight: 900;
  text-align: center;
  background-color: #E63309;
  color: white;
  border-radius: 5px;
}

.bio {
  font-family: "Domine";
  max-width: 600px;
  line-height: 1.5;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
  margin-bottom: 2px;
  background-color: white;
  word-break: break-word;
}

.source {
  font-family: "Domine";
  line-height: 1.5;
  word-break: break-word;
  display: list-item;
}

.source_name {
  font-family: "Domine";
  line-height: 1.5;
  font-weight: bolder;
  color: #998554;
}

.source_item {
  display: list-item;
  list-style-position: inside;
}