@font-face {
  font-family: "Playfair Display SC";
  src: local("Playfair Display SC"), url(../fonts/PlayfairDisplaySC-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Playfair Display";
  src: local("Playfair Display"), url(../fonts/PlayfairDisplay-Regular.ttf) format("truetype");
}

.sidebar {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: center;
  align-items: left;
  height: 100%;
  background-color: #808080;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.verticalSpace {
  margin-bottom: 45%;
}

/* This makes the buttons look like text */
/* Based on https://stackoverflow.com/a/1368286 */
.button {
  background: none;
  border: none;
  font-family: "Playfair Display SC";
  color: #f1f1f1;
  cursor: pointer;
  font-size: 3vh;
  padding: 1vh 1vw 1vh 1.4vw;
  text-align: left;
}

.button:hover {
  color: #111;
}
