
.menu {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
}

.menuItem {
  background-color: green;
  flex: 1;
  color: white;
  text-align: center;
  font-size: x-large;
  transition: 100ms ease-in-out;
}

.menuItem:hover {
  background-color: blue;
}

.menuItem:active {
  transform: translateX(5px);
}
