.checkBox {
  display: inline-block;
  position: relative;
  margin-bottom: 20px;
  width: 15%;
  height: 100%;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkBox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkMark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: white;
  border-radius: 8px;
  color: black;
  border: 2px solid rgb(3, 99, 32);
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 1px 3px 0 rgba(0,0,0,0.19);
}

/* When the checkbox is checked, add a blue background */
.checkBox input:checked ~ .checkMark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkMark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkBox input:checked ~ .checkMark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkBox .checkMark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


@media(hover: hover) and (pointer: fine){
  .checkBox:hover input ~ .checkMark {
    background-color: #ccc;
  }
}
