@font-face {
  font-family: "Playfair Display";
  src: local("Playfair Display"), url(../fonts/PlayfairDisplay-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Playfair Display SemiBold";
  src: local("Playfair Display"), url(../fonts/PlayfairDisplay-SemiBold.ttf) format("truetype");
}

.container {
  padding: 0px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.graph {
  position: relative;
  top: 5%;
  height: 100%;
  width: 100%;
  border: black;
}

.node {
  stroke: white;
  stroke-width: 1px;
}

.node.highlight {
  fill: #f6edd9;
}

.link {
  stroke: lightgray;
  stroke-width: 0.1em;
  stroke-opacity: 50%;
}

.link.highlight {
  stroke: red;
  stroke-width: 0.2em;
}

.node_text {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
  font-family: "Playfair Display SemiBold";
  /* padding-left: 1cm; */
  font-size: 14px;
  stroke-width: 0;
  fill: white;
  /* justify-content: right; */
}

.node_text.highlight {
  /* fill: #738566; */
  /* fill: #07899d; */
  fill: #ffd28b;
  font-size: medium;
}
