.container {
    width: 100%;
    height: 100%;
    background-color: #000000;
}

.uob_logo_image {
    max-width: 85px;
}

.bi_logo_image {
    max-width: 75px;
}

.right_logo {
    position: absolute;
    bottom: 65px;
    right: 10px;
    z-index: 0;
}

.left_logo {
    position: absolute;
    bottom: 75px;
    left: 10px;
    z-index: 0;
}

.svg_view {
    z-index: 5;
    position: absolute;
}

.node {
    stroke: #373935;
    fill: #998554;
    stroke-width: 1px;
}

.node_highlighted {
    stroke: #D2CFCD;
    fill: #D7B874;
    stroke-width: 2px;
}

.node_engineer {
    stroke: #373935;
    fill: #E63309;
    stroke-width: 1px;
}

.node_engineer_highlighted {
    stroke: #D2CFCD;
    fill: #f85a36;
    stroke-width: 2px;
}

.node_business {
    stroke: #373935;
    fill: #373935;
    stroke-width: 1px;
}

.node_business_highlighted {
    stroke: #D2CFCD;
    fill: #B3B1B1;
    stroke-width: 2px;
}

.node_nc_engineer {
    fill: #111111;
    stroke: #373935;
    stroke-width: 1px;
}

.node_nc_engineer_highlighted {
    fill: #111111;
    stroke: #D2CFCD;
    stroke-width: 2px;
}

.node_selected {
    fill: #000000;
    stroke: #f85a36;
    stroke-width: 2px;
}

.link {
    /* Was white */
    stroke: #456991;
    stroke-width: 1px;
    stroke-opacity: 60%;
    fill: none;
}

.linkWeak {
    stroke: #324f6e;
    stroke-width: 1px;
    stroke-opacity: 20%;
    fill: none;
}

.linkIndirect {
    stroke: #b4b0b0;
    stroke-width: 1px;
    stroke-opacity: 50%;
    fill: none;
}

.linkInvisible {
    stroke: transparent;
    fill: none;
}

.linkWeak.highlight {
    stroke: #E63309;
    stroke-width: 1px;
    stroke-opacity: 50%;
    fill: none;
}

.linkIndirect.highlight {
    stroke: #E63309;
    stroke-width: 1px;
    stroke-opacity: 50%;
    fill: none;
}

.link_highlight {
    stroke: #E63309;
    stroke-width: 2px;
    stroke-opacity: 100%;
    fill: none;
}

.node_text {
    fill: #eeeeee;
    font-size: 8pt;
    stroke-width: 0;
    font-weight: bold;
}

.node_text_highlight {
    fill: #eeeeee;
    stroke-width: 0;
    font-size: 8pt;
    font-weight: 900;
}

.node_text_select {
    fill: #ffffff;
    stroke-width: 0;
    font-size: 12pt;
    font-style: italic;
    font-weight: 900;
}