.container {
    width: 100%;
    height: 100%;
    background-color: #000000;
}

.node {
    stroke: #373935;
    fill: #248033;
    stroke-width: 1px;
}

.node_highlighted {
    stroke: #D2CFCD;
    fill: #3cd456;
    stroke-width: 1px;
}

.node_engineer {
    stroke: #373935;
    fill: #D7B874;
    stroke-width: 1px;
}

.node_engineer_highlighted {
    stroke: #D2CFCD;
    fill: #faeac7;
    stroke-width: 1px;
}

.node_business {
    stroke: #373935;
    fill: blue;
    stroke-width: 1px;
}

.node_business_highlighted {
    stroke: #D2CFCD;
    fill: cyan;
    stroke-width: 1px;
}

.node_nc_engineer {
    fill: #373935;
    stroke: #373935;
    stroke-width: 1px;
}

.node_nc_engineer_highlighted {
    fill: #AEA198;
    stroke: #D2CFCD;
    stroke-width: 1px;
}

.node_selected {
    fill: #E63309;
    stroke: #D2CFCD;
    stroke-width: 1px;
}

.link {
    /* Was white */
    stroke: #456991;
    stroke-width: 1px;
    stroke-opacity: 60%;
    fill: none;
}

.linkWeak {
    stroke: #324f6e;
    stroke-width: 1px;
    stroke-opacity: 20%;
    fill: none;
}

.linkIndirect {
    stroke: #b4b0b0;
    stroke-width: 1px;
    stroke-opacity: 50%;
    fill: none;
}

.linkInvisible {
    stroke: transparent;
    fill: none;
}

.linkWeak.highlight {
    stroke: #E63309;
    stroke-width: 1px;
    stroke-opacity: 50%;
    fill: none;
}

.linkIndirect.highlight {
    stroke: #E63309;
    stroke-width: 1px;
    stroke-opacity: 50%;
    fill: none;
}

.link_highlight {
    stroke: #E63309;
    stroke-width: 2px;
    stroke-opacity: 100%;
    fill: none;
}

.node_text {
    font-size: 14px;
    stroke-width: 0;
    fill: white;
}

.node_text_highlight {
    fill: #D7B874;
    stroke-width: 0;
    font-size: 10pt;
}

.node_text_select {
    fill: #ffffff;
    stroke-width: 0;
    font-size: 14pt;
}

.tooltip {
    position: absolute;
    padding: 10px;
    z-index: 10;
    width: 15vw;
    height: 20vh;
    font-size: max(12px, 0.8vw);
    background-color: #808080;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 1px;
    visibility: visible;
}