.container {
  position: absolute;
  background: white;
  width: 90%;
  height: 90%;
  left: 5%;
  top: 5%;
  opacity: 1;
  background-color: white;
  z-index: 12;
  color: #000000;
  overflow: auto;
}

.closeButton {
  position: absolute;
  top: 0.01vh;
  right: 0.01vw;
}

.textContainer {}

.header {
  font-size: 18pt;
  color: #003366;
}

.intro {
  font-size: 16pt;
}

.sectionHeader {}

.body {
  font-size: 12pt;
}