.titleText {
  font-size: 3.5vh;
  text-align: center;
  color: white;
}

.panel {
  background: #E63309;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  box-sizing: border-box;
  padding-bottom: 10px;
  overflow: hidden;
}