.titleText {
  font-size: 32pt;
  text-align: center;
  color: white;
}

.panel {
  background: #E63309;
  width: 100%;
  border-radius: 10px;
  box-sizing: border-box;
  padding-bottom: 10px;
  overflow: auto;
}

.menu_label {
  background-image: linear-gradient(to right, #D7B874, #998554);
  border: none;
  color: #FFFFFF;
  font-family: "Domine";
  font-size: 28pt;
  text-align: center;
  width: 100%;
  height: 100%;
  padding-top: 2px;
  padding-bottom: 2px;
  border-width: 1px;
  border-color: black;
}

.menu_button {
  background-color: #E63309;
  border: none;
  color: #FFFFFF;
  font-family: "Domine";
  font-size: 24pt;
  width: 100%;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}