.optionsContainer {
  position: fixed;
  background: white;
  width: 20%;
  height: 15%;
  left: 40%;
  top: 40%;
  font-family: "Playfair Display Medium";
  z-index: 12;
  font-size: 1.5vh;
  color: #222222;

  padding: 1vh 0vw 0vh 1vw;

  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 1fr 1fr 1fr;
}

.optionsHeader {
  font-size: 2.2vh;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  color: #003366;
}

.indirectTitle {
  font-size: 1.5vh;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
}

.indirectCheckbox {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
}

.physicsTitle {
  font-size: 1.5vh;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 3;
  grid-row-end: 3;
}

.physicsCheckbox {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 3;
}
