.overlay {
  position: fixed;
  background: rgba(34, 34, 34, 0.7);
  z-index: 10;
  width: 99%;
  height: 99%;
  left: 0.5%;
  top: 0.5%;
  border-radius: 10px;
}

.overlayNoBackground {
  position: fixed;
  background: transparent;
}

.container {
  position: fixed;
  background: white;
  width: 98%;
  height: 98%;
  left: 1.0%;
  top: 1.0%;
  opacity: 1;
  background-color: white;
  z-index: 11;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  flex-direction: row;
}