@font-face {
  font-family: "Playfair Display Medium";
  src: local("Playfair Display"), url(../fonts/PlayfairDisplay-Medium.ttf) format("truetype");
}

.popOver {
  background-color: white;
  color: black;
  /* border: 1mm solid #808080; */
  padding: 0.5vh 0.5vw 0.5vh 0.5vw;
  position: absolute;
  z-index: 10;
  height: 30vh;
  width: 15vw;
  font-family: "Playfair Display Medium";
}

img {
  object-fit: contain;
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.imageSection {
  height: 25%;
  width: 100%;
  display: flex;
  justify-content: left;
  flex-direction: column;
}

.header {
  padding-top: 0.7vh;
  font-size: 1.7vh;
  height: 5%;
  color: #003366;
}

.bioSection {
  padding-top: 1vh;
  padding-bottom: 1.5vh;
  font-size: 1.5vh;
  height: 35%;
  width: 100%;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sourceSection {
  padding-top: 1vh;
  font-size: 1.3vh;
  height: 15%;
  width: 100%;
}
