@font-face {
  font-family: "Playfair Display Medium";
  src: local("Playfair Display"), url(../fonts/PlayfairDisplay-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Playfair Display Bold";
  src: local("Playfair Display"), url(../fonts/PlayfairDisplay-Bold.ttf) format("truetype");
}

.popOver {
  background-color: white;
  color: black;
  /* border: 1mm solid #808080; */
  padding: 0.5vh 0.5vw 0.5vh 0.5vw;
  position: absolute;
  z-index: 10;

  font-family: "Playfair Display Medium";
}

.header {
  padding-top: 0.7vh;
  padding-bottom: 2.5vh;
  font-size: 1.9vh;
  height: 5%;
  color: #003366;
  font-family: "Playfair Display Bold";
}

.bioSection {
  padding-bottom: 1.5vh;
  font-size: 1.5vh;
  height: 50%;
  width: 100%;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sourceHeader {
  padding-top: 1vh;
  font-size: 1.7vh;
  height: 5%;
  color: #003366;
  font-family: "Playfair Display Medium";
}
.sourceSection {
  font-family: "Playfair Display Medium";
  padding-top: 1vh;
  font-size: 1.3vh;
  height: 15%;
  width: 100%;
}

.readMore {
  display: flex;
  align-items: right;
}
