/* Responsive lists thanks to
   https://www.fourkitchens.com/blog/article/responsive-multi-column-lists-flexbox/
*/

.list{
	display: flex;
	flex-wrap: wrap;
  align-items: center;
  text-align: center;
  align-content: center;
}

.item{
  flex: 1 0 200px;
  box-sizing: border-box;
  align-items: center;
  text-align: center;
  align-content: center;
  color: #171e42;
  padding: 2px;
	margin-left: 2px;
  margin-top: 2px;
  background-color: rgba(3, 99, 32, 0.103);
  border-radius: 5px;
}

@media (min-width: 410px) {
  .list .item {
    max-width: 200px;
  }
}
@media (min-width: 620px) {
  .list .item {
    max-width: 200px;
  }
}
@media (min-width: 830px) {
  .list .item {
    max-width: 200px;
  }
}
@media (min-width: 1040px) {
  .list .item {
    max-width: calc(20% - 10px);
  }
}
@media (min-width: 1250px) {
  .list .item {
    max-width: calc(16.66667% - 10px);
  }
}
@media (min-width: 1460px) {
  .list .item {
    max-width: calc(14.28571% - 10px);
  }
}
@media (min-width: 1670px) {
  .list .item {
    min-width: calc(12.5% - 10px);
  }
}
