.container {
  position: fixed;
  top: 10px;
  left: 10%;
  width: 30%;
  display: flex;
  flex-direction: column;
}

.searchContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.resultContainer {
  background-color: black;
  width: 80%;
  max-height: 200px;
  overflow-y: auto;
  border: 2px;
  border-color: black;
  display: flex;
  flex-direction: row;
}

.searchPending {
  width: 100%;
  text-align: center;
}

.searchResult {
  width: 100%;
}

.hamburgerButton {
  height: 40px;
  width: 1.5em;
  font-size: xx-large;
  padding: 0;
  border: 0;
  color: white;
  vertical-align: top;
  background: transparent;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.hamburgerButton:active {
  background-color: rgba(0, 0, 0, 0);
  color: black;
  transform: rotate(90deg);
}

.searchBox {
  width: 80%;
  background-color: white;
  color: black;
  font-size: medium;
}

.disabledButton {
  background-color: #596279;
  color: white;
  height: 35px;
  width: 35px;
  opacity: 0.5;
}

.searchButton {
  background-color: #222222;
  color: white;
  height: 40px;
  width: 35px;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.searchButton:active {
  transform: rotate(5deg);
  background-color: green;
}

.magnifier {
  background: transparent;
  transform: rotate(-45deg);
  text-align: center;
  font-size: xx-large;
  width: 100%;
  height: 100%;
}

.closeResultButton {
  width: 10px;
  background: #457383;
  color: white;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  left: 1cm;
  padding: 2px 5px;
}

@media (hover: hover) and (pointer: fine) {
  .hamburgerButton:hover {
    background-color: #7A888C;
    color: white;
  }
  .closeResultButton:hover {
    background: #457383;
    color: white;
  }
  .searchButton:hover {
    background-color: #457383;
  }
}
