.container {
  font-family: "Playfair Display Medium";
  z-index: 11;
  font-size: 1.5vh;
  color: #222222;
}

.smallContainer {
  position: fixed;
  background: white;
  width: 35vw;
  height: 3vh;
  left: 35vw;
  top: 20vh;
  opacity: 1;
  background-color: white;
  padding: 0.5vh 0.5vw 0.5vh 0.2vw;
}

.resultsContainer {
  transition: 0.3s;
  /* animation: fadein 500ms; */
  position: fixed;
  background: white;
  font-family: "Playfair Display Medium";
  width: 30vw;
  height: 15vh;
  left: 37.5vw;
  top: 20vh;
  opacity: 1;
  background-color: white;
  z-index: 11;
  padding: 1vh 1vw 1vh 0.5vw;
}
