.searchContainer {
  font-family: "Playfair Display Medium";
}

.resultContainer {
  background-color: #9cb6a4;
  width: 100%;
  max-height: 17vh;
  overflow-y: auto;
  border: 2px;
  border-color: black;
  display: flex;
  flex-direction: row;
}

.searchPending {
  width: 100%;
  text-align: center;
}

.searchResult {
  width: 100%;
}

.searchBox {
  width: 100%;
  background-color: white;
  color: black;
  font-size: large;
  font-family: "Playfair Display SC";
}

.disabledButton {
  background-color: #596279;
  color: white;
  height: 35px;
  width: 35px;
  opacity: 0.5;
}

.searchButton {
  background-color: #222222;
  color: white;
  height: 40px;
  width: 35px;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.searchButton:active {
  background-color: green;
}

.magnifier {
  background: transparent;
  transform: rotate(-45deg);
  text-align: center;
  font-size: xx-large;
  width: 100%;
  height: 100%;
}

.closeResultButton {
  width: 10px;
  background: none;
  color: white;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  left: 1cm;
  padding: 2px 5px;
  font-family: "Playfair Display SC";
}

@media (hover: hover) and (pointer: fine) {
  .hamburgerButton:hover {
    background-color: #7a888c;
    color: white;
  }
  .closeResultButton:hover {
    background: #9cb6a4;
    color: #111;
  }
  .searchButton:hover {
    background-color: #457383;
  }
}
