.container {
  position: absolute;
  background: white;
  width: 95%;
  height: 95%;
  left: 2.5%;
  top: 2.5%;
  opacity: 1;
  background-color: white;
  z-index: 11;
}

.closeButton {
  position: absolute;
  right: 0.01vw;
}

.name {
  font-size: large;
}

.bio {
  overflow: auto;
}
