.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {}

.arrow_button {
  background-color: #E63309;
  font-family: "Domine";
  height: 40px;
  color: white;
  border-top: solid 1px white;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.ship_button {
  background-color: #E63309;
  font-family: "Domine";
  font-size: 16pt;
  color: white;
  width: 240px;
  height: 40px;
  border-top: solid 1px white;
  border-left: solid 1px grey;
  border-right: solid 1px grey;
  border-bottom: none;
}