@font-face {
    font-family: "Playfair Display SC";
    src: local("Playfair Display SC"), url(../fonts/PlayfairDisplaySC-Regular.ttf) format("truetype")
}

@font-face {
    font-family: "Playfair Display";
    src: local("Playfair Display"), url(../fonts/PlayfairDisplay-Regular.ttf) format("truetype")
}

.button {
  display: inline-block;
  background-color: white;
  font-family: "Playfair Display SC";
  /* font-family: "Cinzel"; */
  font-size: x-large;
  border-radius: 0px;
  color: black;
  border: 2px solid #808080;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.19);
  margin: 10px;
}


.button:active {
  box-shadow: 0 2px rgba(0, 0, 0, 0.2);
}

@media (hover: hover) and (pointer: fine) {
  .button:hover {
    background-color:#9B1C31;
    opacity: 1;
    color: white;
  }
}
