.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {}

.arrow_button {
  background-color: #E63309;
  font-family: "Domine";
  height: 40px;
  color: white;
  border-top: solid 1px white;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.ship_button {
  background-color: black;
  border-color: #E63309;
  border-width: 1px;
  font-family: "Domine";
  font-size: 12pt;
  color: #E63309;
  width: 80px;
  height: 50px;
  border-radius: 10px;
  margin: 5px;
}

.ship_button_selected {
  background-color: #E63309;
  border-color: white;
  border-width: 1px;
  font-family: "Domine";
  font-size: 12pt;
  color: white;
  width: 80px;
  height: 50px;
  border-radius: 10px;
  margin: 5px;
}
