.container {
  background-color: #00000000;
  overflow-x: hidden;
  overflow-y: auto;
}

.leftContainer {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
}

.rightContainer {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}

.topContainer {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
}

.bottomContainer {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 100;
  width: 100%;
}