.container {
  position: absolute;
  background: white;
  font-family: "Playfair Display Medium";
  width: 75%;
  height: 75%;
  left: 12.5%;
  top: 12.5%;
  opacity: 1;
  background-color: white;
  z-index: 11;
  padding: 1.5vh 0.5vw 0.5vh 0.75vw;
  display: flex;
  flex-direction: row;

  display: grid;
  grid-template-columns: 40% 10% 50%;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;

  font-size: 1.5vh;
  color: #222222;
}

/* img {
  object-fit: contain;
  display: block;
  max-width: 100%;
  max-height: 100%;
} */

.closeButton {
  position: absolute;
  right: 0.01vw;
}

.divider {
  background: linear-gradient(lightgrey, lightgrey) no-repeat center/1px 100%;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 6;
}

.nameHeader {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;

  font-size: 3vh;
  color: #003366;
}

.sourceName {
  font-size: 2vh;
  color: #003366;
  padding-bottom: 2vh;
}

.body {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 5;

  font-size: 1.8vh;
}

.biography {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 6;
  grid-row-end: 6;
}

.imageSection {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 6;
}
