/* This makes the buttons look like text */
/* Based on https://stackoverflow.com/a/1368286 */
.button {
  /*background-image: linear-gradient(to right, #D7B874, #998554);*/
  background-color: #E63309;
  border: none;
  color: #FFFFFF;
  font-family: "Domine";
  font-size: 28pt;
  border-radius: 16px;
  width: 100%;
  height: 100%;
  padding: 15px 10px 15px 10px;
}