
html, body {
  font-family: 'Questrial', sans-serif;
  overflow: hidden;
  position: absolute;
}

/* alternating column backgrounds */
.vis-time-axis .vis-grid.vis-odd {
  background: #f5f5f5;
}

/* gray background in weekends, white text color */
.vis-time-axis .vis-grid.vis-saturday,
.vis-time-axis .vis-grid.vis-sunday {
  background: gray;
}
.vis-time-axis .vis-text.vis-saturday,
.vis-time-axis .vis-text.vis-sunday {
  color: white;
}
