html,
body {
  font-family: "Questrial", sans-serif;
  overflow: hidden;
  position: absolute;
}

.brunel-center-container {
  position: fixed; /* or absolute */
  text-align: center;
  padding: 50px;
  width: 25%;
  top: 20%;
  left: 25%;
  border: 3px solid green;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

/* alternating column backgrounds */
.vis-time-axis .vis-grid.vis-odd {
  background: #f5f5f5;
}

/* gray background in weekends, white text color */
.vis-time-axis .vis-grid.vis-saturday,
.vis-time-axis .vis-grid.vis-sunday {
  background: gray;
}
.vis-time-axis .vis-text.vis-saturday,
.vis-time-axis .vis-text.vis-sunday {
  color: white;
}
