.module {
  all: unset;
}

.ui_main {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-color: #000000;
}

.drawerButton {
  width: 100%;
  color: white;
  font-family: "Domine";
  border: none;
  background-color: #000000;
}

.fullscreen {
  height: 100%;
}